* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #B5C7DA; /* Azul Serenity */
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  }
  